.homeflex {
  display: flex;
}

.home {
  margin-left: 50px;
  width: 80%;
}

.homehead {
  font-family: "Nunito Sans";
  font-style: normal;
  font-size: 30px;
}

.custom_file_input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom_file_input::before {
  content: "Select some files";
  display: inline-block;
  background: red;
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.custom_file_input:hover::before {
  border-color: black;
}
.custom_file_input:active::before {
  background: red;
}

.upload {
  width: 360px;
  height: 96px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: none;
  /* Hotel/Hotel Button */
  background: #b18f32;
  margin-top: 100px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  color: #001b1c;
}

.box1 {
  margin-top: 100px;
}

.file {
  border-radius: 4px;
  background-color: #fff;
  margin-bottom: 30px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  padding: 20px;
}
